.DS_Store
.env
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
*.log
*.sqlite3
*.db
*.pyc
*.pkl
*.pdb
*.coverage
*.migrations/
*.pytest_cache/
*.tox/
*.venv/
.env.local
.env.development.local
.env.test.local
.env.production.local
